<footer>
  <div id="contact-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="main-title">Entre em contato</h3>
        </div>
        <div class=".col-md-4 contact-box">
          <i class="fas fa-phone"></i>
          <p><span class="contact-tile">Ligue para:</span></p>
          <p><span class="contact-tile">Horário:</span> 8:00 - 18:00</p>
        </div>
      </div>
    </div>
  </div>
</footer>