<h3>Nova postagem</h3>
<div class="card">
    <div class="card-body">
        <form action="/postagens/editar" method="POST">
            <label for="titulo">Título: </label>
            <input type="text" id="titulo" name="titulo" class="form-control">
            <label for="conteudo">Conteudo: </label>
            <input type="text" id="conteudo" name="conteudo" placeholder="Conteudo da Postagem" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Criar Postagem</button>
        </form>
    </div>
</div>